/*==================
    Google Fonts
===================*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/*================
    Global css
=================*/
*{
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

/*===========================
    feature section start 
===========================*/
.tea-selector{
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%);
    padding: 30px 25px;
}
.tea-1234{
   margin-bottom: 24px;
}

/*===========================
    Service section start 
===========================*/
.img-12-div .gradient1{
    width: 100%;
    height: 136px;
    background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
    opacity: 0.1;
    border-radius: 10px;
    transform: rotate(-180deg);
}
.img-12-div .gradient2{
    width: 100%;
    height: 136px;
    background: linear-gradient(270deg, #D9D9D9 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    transform: rotate(-180deg);
}
.fresh-12{
    background: rgba(87, 118, 57, 0.1);
    border-radius: 10px;
}
.fresh-13{
    background: rgba(230, 166, 35, 0.1);
    border-radius: 10px;
}

/*===========================
    Client section start 
===========================*/
.btn-dash{
    background-image: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
    -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
}
.slider-container{
    position: relative;
}
.slider-container .client-info2{
    position: absolute;
    width: 100%;
    top: 25%;
    left: -25%;
}

footer{
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 137, 56, 0.1) 100%);  
}
.menu-link ul li{
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    color: #494949;
}
.forms{
   margin-bottom: 40px;
}
.forms .form-1{
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding: 20px 0;
    caret-color: #494949;
    border-bottom: 1px solid #494949;
}
.form-1::placeholder{
    font-weight: 500;
    font-size: 14px;
    color: #494949;
}
.forms .fa-angle-right{
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 47px;
    background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
    border-radius: 50%;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}

.social-link ul li{
   display: inline-block;
   margin-right: 24px;
}
.social-link ul li .fa-brands{
    color: #494949;
    cursor: pointer;
    font-size: 18px;
}


@media (min-width: 320px) and (max-width: 576px) {
   
   /* banner section start */


   .client-section {
    display: none;
   }
    footer{
        display: none;
    }

}